* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}
/* Không chỉnh sửa bất kì đoạn code nào ở trên */
/* Code từ đây */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body > .reg-form {
    border: 2.5px rgb(217, 214, 214) solid ;
    border-radius: 5px
}

.reg-form {
    padding: 0 15px 0 15px;
    
}

.heading {
    text-align: center;
    
}

.heading, .main {
    margin: 30px 30px 0 30px;
}

label {
    font-weight: 600;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0
}

#input__name , #input__email, #input__password, #input__password-again, #province {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0.1px rgb(230, 226, 226) solid;
    width: 100%;
}

#input__name:hover , #input__email:hover, #input__password:hover, #input__password-again:hover, #province:hover {
    border-color: #1dbfaf;
}

#input__name:focus , #input__email:focus, #input__password:focus, #input__password-again:focus,  #province:focus {
    outline-color: #1dbfaf;
}

.form-submit {
    background-color: #1ac7b6;
    margin: 0 0 20px 15px;
    padding: 10px 100px 10px 100px;
    color: white;
    font-weight: 700;
    border: 0.1px rgb(230, 226, 226) solid;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}
 .invalid > #input__name {
    border-color: red;
}
.invalid > #input__password {
    border-color: red;
}
.invalid > #input__email {
    border-color: red;
}
.invalid > #input__password-again {
    border-color: red;
}
.invalid > #province {
    border-color: red;
}

.invalid > .form-message {
    color: red;
}

input[name="gender"]:checked {

}

